header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e1e1e1;
  padding: 10px;
  margin-bottom: 50px;
}

div {
  display: block;
}

nav > ul {
  display: inline;
  padding: 5px;
}

nav > ul > li {
  display: inline-block;
  list-style-type: none;
  margin: 0 5px 0 5px;
}

/*
li:hover {
  color: aquamarine;
} */

a:visited {
  text-decoration: none;
  color: rgb(54, 54, 54);
}

a:link {
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: gold;
}

h1 {
  color: #5247d4;
  padding-top: 50px;
}

h2 {
  color: rgb(255, 255, 255);
}

p {
  color: rgb(54, 54, 54);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0 4rem 0 4rem;
  line-height: 1.5rem;
  font-size: 1rem;
}

body {
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1rem;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  background-color: DodgerBlue;
  justify-content: center;
  align-items: center;
  margin: 60px;
  max-width: 100%;
}

.flex-container > div {
  text-align: left;
  flex: 1;
  color: aliceblue;
}

.flex-container > div > p {
  color: aliceblue;
  margin: 0 0 0 0;
}

.infoContainer {
  padding-left: 60px;
  padding-right: 60px;
}

.imageContainer {
  background-image: url(images/dog-agility-training-533519409-2000-b13c73d7d2a24da487de0a8b679ba2f9.webp);
  background-size: cover;
  background-position: center center;
  min-height: 500px;
}

/*img {
  max-width: 100%;
  max-height: auto;
  object-fit: cover;
}*/

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
    margin: 20px;
  }

  .imageContainer {
    min-width: 100%;
    max-height: 150px;
  }
}
